@import "tailwindcss";
.blob {
  width: 400px;
  height: 400px;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #A1869E, #0B1D51);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
}
.blob span {
    position: absolute;
    width:100%;
    height:100%;
    border: 2px solid #D1C6AD;
    transition: 0.5s ease-in-out;
}
.blob span:nth-child(1){
    border: 2px solid #1f1104;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    animation: rotate1 6s linear infinite;
}
.blob span:nth-child(2){
    border: 2px solid #BBADA0;
    border-radius: 35% 55% 74% 41% / 49% 30% 58% 60%;
    animation: rotate1 6s linear infinite;
}
.blob span:nth-child(3){
    border: 2px solid #BBADA0;
    border-radius: 31% 45% 63% 37% / 38% 56% 51% 87%;
    animation: rotate1 2s linear infinite;
}

@keyframes morph {
  0% { border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; }
  50% { border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; }
  100% { border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; }
}
@keyframes rotate1 {
  0% { border-radius: 61% 42% 33% 74% / 65% 36% 77% 48%;
        transform: rotate(360deg); }
  50% { border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; }
  100% { border-radius: 68% 47% 36% 75% / 64% 33% 72% 41%; 
        transform: rotate(0deg);}
}
@keyframes rotate2 {
  0% { border-radius: 61% 42% 33% 74% / 65% 36% 77% 48%;
        transform: rotate(0deg); }
  50% { border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; }
  100% { border-radius: 68% 47% 36% 75% / 64% 33% 72% 41%; 
        transform: rotate(360deg);}
}